Package: com.uprisecreations.blurrylaunchsettings
Name: BlurryLaunch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Billy Ellis
Author: Billy Ellis
Section: Tweaks
